 <!-- Static navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Libros</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
<div class="my-md-3">
  <div class="row justify-content-end">
    <div class="col-md-2">
          <a [routerLink]="['books','list']" [routerLinkActive]="['active']" class="btn btn-outline-secondary"><i class="fas fa-th-list"></i></a>
          <a [routerLink]="['books','grid']" [routerLinkActive]="['active']" class="btn btn-outline-secondary"><i class="fas fa-th-large"></i></a>
    </div>
  </div>
</div>